@use "sass:map";

$breakpoints: (
  micro: 320px,
  small: 375px,
  medium: 700px,
  large: 1025px,
  xlarge: 1400px,
);

@mixin above-breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @error "#{$name} is not a valid breakpoint";
  }

  @media (min-width: #{map.get($breakpoints, $name)}) {
    @content;
  }
}

@mixin below-breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @error "#{$name} is not a valid breakpoint";
  }

  @media (max-width: map.get($breakpoints, $name) - 1px) {
    @content;
  }
}

:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  section {
    width: 300px;
    border: 1px solid black;

    //@media (max-width: 750px) {
    //  width: 400px;
    //}

    @include above-breakpoint('medium') { // 700px
      width: 600px;
    }

    @include above-breakpoint('large') { // 1025px
      width: 700px;
    }

    //@media (min-width: 800px) and (max-width: 900px) {
    //  border: 5px solid green;
    //}

    button {
      display: none;
      margin: 10px;
      outline: 0;
      cursor: pointer;
      text-align: center;
      border: 0;
      padding: 7px 16px;
      min-height: 36px;
      min-width: 36px;
      color: #ffffff;
      background: #008060;
      border-radius: 4px;
      font-weight: 500;
      font-size: 14px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
      :hover {
        background: #006e52;
      }


      @include above-breakpoint('large') {
        display: inline-block;
      }
    }
  }
}
